<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <title>国服-公主连结（B站多角色）</title>
    <meta name="keywords" content="游戏帐号,游戏帐号查询,游戏,游戏帐号,game,国服-公主连结（B站多角色）,国服-公主连结（B站多角色）"/>
    <link rel="stylesheet" href="../../static/tab/css/style.css" media="screen" type="text/css" />
    <style type="text/css">
        .li {
            width: 104px;
            height: 110px;
        }
        img {
            width: 100px;
        }
        button.start:before {
            content:  '搜索';
        }

        button.select:before, button.select:after {
            content:  '清除';
        }

        button.select:after {
            content:  '清除';
        }
    </style>
    <script>
                document.oncontextmenu = function(){return false;}
                var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?ce96b52cb14a0033842180f47873abeb";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body>
<form action="/ag/search/yoyi/gfgz" method="get">
    ID：<input type='text' name='id' size='15' style="height: 20px;padding: 0;" />
    <input type="submit" value="搜索" />&nbsp;&nbsp;
    </form>

    
<div class="clearfix" >
    <button class="select">&nbsp;</button>
    <form action="/ag/search/yoyi/gfgz" method="get">
        <button class="start">&nbsp;</button>
        3★数量：<input type='text' name='num' size='15' />
        <input type="hidden" value="3" name="star"/>
        <button class="send " data-counter="0">&#10004;</button>
</div>
<p style="width: 880px;margin: 0 auto;padding: 0 0 0 15px;">
	</p>
<div style="text-align:center;clear:both">
</div>
<div id="tab">
        <h3 class="active" data-id="110">3★</h3>
        <h3 class="" data-id="111">热门</h3>
        <h3 class="" data-id="128">限定</h3>
            <div class="content" style="display:block"">
        <ul class="ul roles_list" style="margin:0 auto;">
                                        <label for="check1102101">
                    <li class="li">
                        <img title="姬塔" src="https://img.mumutoo.com/games/role/158940060077.jpg" />
                    </li>
                </label>
                <label>
                    <input type="checkbox" id="check1102101" name="role_ids[]" value="2101" style="display:none" />
                </label>
                            <label for="check1102102">
                    <li class="li">
                        <img title="魅魔 伊绪" src="https://img.mumutoo.com/games/role/1589400606984.jpg" />
                    </li>
                </label>
                <label>
                    <input type="checkbox" id="check1102102" name="role_ids[]" value="2102" style="display:none" />
                </label>
                            <label for="check1102103">
                    <li class="li">
                        <img title="狐狸 真步" src="https://img.mumutoo.com/games/role/1589400611566.jpg" />
                    </li>
                </label>
                <label>
                    <input type="checkbox" id="check1102103" name="role_ids[]" value="2103" style="display:none" />
                </label>
                            <label for="check1102104">
                    <li class="li">
                        <img title="毛二力 莫妮卡" src="https://img.mumutoo.com/games/role/158940061615.jpg" />
                    </li>
                </label>
                <label>
                    <input type="checkbox" id="check1102104" name="role_ids[]" value="2104" style="display:none" />
                </label>
                            <label for="check1102105">
                    <li class="li">
                        <img title="偶像 望" src="https://img.mumutoo.com/games/role/1589400622870.jpg" />
                    </li>
                </label>
                <label>
                    <input type="checkbox" id="check1102105" name="role_ids[]" value="2105" style="display:none" />
                </label>
                            <label for="check1102106">
                    <li class="li">
                        <img title="充电宝 恋" src="https://img.mumutoo.com/games/role/1589400629200.jpg" />
                    </li>
                </label>
                <label>
                    <input type="checkbox" id="check1102106" name="role_ids[]" value="2106" style="display:none" />
                </label>
                            <label for="check1102107">
                    <li class="li">
                        <img title="璃乃" src="https://img.mumutoo.com/games/role/B8_1589273252254.jpg" />
                    </li>
                </label>
                <label>
                    <input type="checkbox" id="check1102107" name="role_ids[]" value="2107" style="display:none" />
                </label>
                            <label for="check1102108">
                    <li class="li">
                        <img title="静流" src="https://img.mumutoo.com/games/role/1589400659302.jpg" />
                    </li>
                </label>
                <label>
                    <input type="checkbox" id="check1102108" name="role_ids[]" value="2108" style="display:none" />
                </label>
                            <label for="check1102109">
                    <li class="li">
                        <img title="妮侬" src="https://img.mumutoo.com/games/role/1589400666813.jpg" />
                    </li>
                </label>
                <label>
                    <input type="checkbox" id="check1102109" name="role_ids[]" value="2109" style="display:none" />
                </label>
                            <label for="check1102110">
                    <li class="li">
                        <img title="狼妹 真琴" src="https://img.mumutoo.com/games/role/15894006725.jpg" />
                    </li>
                </label>
                <label>
                    <input type="checkbox" id="check1102110" name="role_ids[]" value="2110" style="display:none" />
                </label>
                            <label for="check1102111">
                    <li class="li">
                        <img title="中二 杏奈" src="https://img.mumutoo.com/games/role/1589400677693.jpg" />
                    </li>
                </label>
                <label>
                    <input type="checkbox" id="check1102111" name="role_ids[]" value="2111" style="display:none" />
                </label>
                            <label for="check1102112">
                    <li class="li">
                        <img title="初音" src="https://img.mumutoo.com/games/role/1589400683451.jpg" />
                    </li>
                </label>
                <label>
                    <input type="checkbox" id="check1102112" name="role_ids[]" value="2112" style="display:none" />
                </label>
                            <label for="check1102113">
                    <li class="li">
                        <img title="秋乃" src="https://img.mumutoo.com/games/role/1589400689125.jpg" />
                    </li>
                </label>
                <label>
                    <input type="checkbox" id="check1102113" name="role_ids[]" value="2113" style="display:none" />
                </label>
                            <label for="check1102114">
                    <li class="li">
                        <img title="黑骑 纯" src="https://img.mumutoo.com/games/role/1589400694686.jpg" />
                    </li>
                </label>
                <label>
                    <input type="checkbox" id="check1102114" name="role_ids[]" value="2114" style="display:none" />
                </label>
                            <label for="check1102231">
                    <li class="li">
                        <img title="亚里沙" src="https://img.mumutoo.com/games/role/ _1594383078502.jpg" />
                    </li>
                </label>
                <label>
                    <input type="checkbox" id="check1102231" name="role_ids[]" value="2231" style="display:none" />
                </label>
                            <label for="check1102233">
                    <li class="li">
                        <img title="镜华" src="https://img.mumutoo.com/games/role/121_1594383102478.jpg" />
                    </li>
                </label>
                <label>
                    <input type="checkbox" id="check1102233" name="role_ids[]" value="2233" style="display:none" />
                </label>
                            <label for="check1102235">
                    <li class="li">
                        <img title="伊莉亚" src="https://img.mumutoo.com/games/role/122_1594383185615.jpg" />
                    </li>
                </label>
                <label>
                    <input type="checkbox" id="check1102235" name="role_ids[]" value="2235" style="display:none" />
                </label>
                            <label for="check1102456">
                    <li class="li">
                        <img title="贪吃公主(夏日)" src="https://img.mumutoo.com/games/role/B12_159785309971.jpg" />
                    </li>
                </label>
                <label>
                    <input type="checkbox" id="check1102456" name="role_ids[]" value="2456" style="display:none" />
                </label>
                            <label for="check1102487">
                    <li class="li">
                        <img title="泳裝黑貓(夏日)" src="https://img.mumutoo.com/games/role/B20_160008565625.jpg" />
                    </li>
                </label>
                <label>
                    <input type="checkbox" id="check1102487" name="role_ids[]" value="2487" style="display:none" />
                </label>
                            <label for="check1102491">
                    <li class="li">
                        <img title="鈴梅(夏日)" src="https://img.mumutoo.com/games/role/B16_160049745138.jpg" />
                    </li>
                </label>
                <label>
                    <input type="checkbox" id="check1102491" name="role_ids[]" value="2491" style="display:none" />
                </label>
                            <label for="check1102492">
                    <li class="li">
                        <img title="珠希(夏日)" src="https://img.mumutoo.com/games/role/B14_1600497472785.jpg" />
                    </li>
                </label>
                <label>
                    <input type="checkbox" id="check1102492" name="role_ids[]" value="2492" style="display:none" />
                </label>
                            <label for="check1102516">
                    <li class="li">
                        <img title="智" src="https://img.mumutoo.com/games/role/1601634936904.jpg" />
                    </li>
                </label>
                <label>
                    <input type="checkbox" id="check1102516" name="role_ids[]" value="2516" style="display:none" />
                </label>
                                </ul>
    </div>
        <div class="">
        <ul class="ul roles_list" style="margin:0 auto;">
                                        <label for="check1112231">
                    <li class="li">
                        <img title="亚里沙" src="https://img.mumutoo.com/games/role/ _1594383078502.jpg" />
                    </li>
                </label>
                <label>
                    <input type="checkbox" id="check1112231" name="role_ids[]" value="2231" style="display:none" />
                </label>
                            <label for="check1112233">
                    <li class="li">
                        <img title="镜华" src="https://img.mumutoo.com/games/role/121_1594383102478.jpg" />
                    </li>
                </label>
                <label>
                    <input type="checkbox" id="check1112233" name="role_ids[]" value="2233" style="display:none" />
                </label>
                            <label for="check1112235">
                    <li class="li">
                        <img title="伊莉亚" src="https://img.mumutoo.com/games/role/122_1594383185615.jpg" />
                    </li>
                </label>
                <label>
                    <input type="checkbox" id="check1112235" name="role_ids[]" value="2235" style="display:none" />
                </label>
                            <label for="check1112456">
                    <li class="li">
                        <img title="贪吃公主(夏日)" src="https://img.mumutoo.com/games/role/B12_159785309971.jpg" />
                    </li>
                </label>
                <label>
                    <input type="checkbox" id="check1112456" name="role_ids[]" value="2456" style="display:none" />
                </label>
                            <label for="check1112487">
                    <li class="li">
                        <img title="泳裝黑貓(夏日)" src="https://img.mumutoo.com/games/role/B20_160008565625.jpg" />
                    </li>
                </label>
                <label>
                    <input type="checkbox" id="check1112487" name="role_ids[]" value="2487" style="display:none" />
                </label>
                            <label for="check1112516">
                    <li class="li">
                        <img title="智" src="https://img.mumutoo.com/games/role/1601634936904.jpg" />
                    </li>
                </label>
                <label>
                    <input type="checkbox" id="check1112516" name="role_ids[]" value="2516" style="display:none" />
                </label>
                            <label for="check1112118">
                    <li class="li">
                        <img title="布丁 宫子" src="https://img.mumutoo.com/games/role/C01_1589273447921.png" />
                    </li>
                </label>
                <label>
                    <input type="checkbox" id="check1112118" name="role_ids[]" value="2118" style="display:none" />
                </label>
                            <label for="check1112116">
                    <li class="li">
                        <img title="玲奈" src="https://img.mumutoo.com/games/role/C02_1589273392430.png" />
                    </li>
                </label>
                <label>
                    <input type="checkbox" id="check1112116" name="role_ids[]" value="2116" style="display:none" />
                </label>
                            <label for="check1112117">
                    <li class="li">
                        <img title="珠希" src="https://img.mumutoo.com/games/role/C03_158927340667.png" />
                    </li>
                </label>
                <label>
                    <input type="checkbox" id="check1112117" name="role_ids[]" value="2117" style="display:none" />
                </label>
                                </ul>
    </div>
        <div class="">
        <ul class="ul roles_list" style="margin:0 auto;">
                                        <label for="check1282456">
                    <li class="li">
                        <img title="贪吃公主(夏日)" src="https://img.mumutoo.com/games/role/B12_159785309971.jpg" />
                    </li>
                </label>
                <label>
                    <input type="checkbox" id="check1282456" name="role_ids[]" value="2456" style="display:none" />
                </label>
                            <label for="check1282487">
                    <li class="li">
                        <img title="泳裝黑貓(夏日)" src="https://img.mumutoo.com/games/role/B20_160008565625.jpg" />
                    </li>
                </label>
                <label>
                    <input type="checkbox" id="check1282487" name="role_ids[]" value="2487" style="display:none" />
                </label>
                            <label for="check1282491">
                    <li class="li">
                        <img title="鈴梅(夏日)" src="https://img.mumutoo.com/games/role/B16_160049745138.jpg" />
                    </li>
                </label>
                <label>
                    <input type="checkbox" id="check1282491" name="role_ids[]" value="2491" style="display:none" />
                </label>
                            <label for="check1282492">
                    <li class="li">
                        <img title="珠希(夏日)" src="https://img.mumutoo.com/games/role/B14_1600497472785.jpg" />
                    </li>
                </label>
                <label>
                    <input type="checkbox" id="check1282492" name="role_ids[]" value="2492" style="display:none" />
                </label>
                                </ul>
    </div>
    </div>

</form>
<!-- <script src='/app/jquery/jquery-3.3.1.min.js'></script> -->
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"></script>
<script src="../../static/tab/js/index.js"></script>
<script type="text/javascript">
    function show_new() {
        var obj = document.getElementById('game_code');
        var index = obj.selectedIndex; // 选中索引
        var text = obj.options[index].text; // 选中文本
        var value = obj.options[index].value; // 选中值
        window.location.href='/'+value;
    }
    window.onload = function() {
        var oTab = document.getElementById("tab");
        var aH3 = oTab.getElementsByTagName("h3");
        var aDiv = oTab.getElementsByTagName("div");
        for (var i = 0; i < aH3.length; i++) {
            aH3[i].index = i;
            aH3[i].onclick = function() {
                for (var i = 0; i < aH3.length; i++) {
                    aH3[i].className = "";
                    aDiv[i].style.display = "none";
                    aDiv[i].className = "";
                }
                this.className = "active";
                aDiv[this.index].className = "content";
                aDiv[this.index].style.display = "block";
            };
        }
    };
</script>
</body>

</html>
